*.o
*.exe
*.bak
*.pc
*.a
*.dll
*.s
*lo
*.dep
*.mk
lib
!lib/
buildinf.h
rehash.time
stamp-h1
Makefile
.deps
config.*
config_types.h
libtool
.libs
*.la
Doxyfile
doxygen-build.stamp
